---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import HomeFeatureData from '../../../data/json-files/homefeaturesData.json'
import HomeFeaturetitle from '../../../data/json-files/homefeaturetitle.json'

// Dynamic column determination
const maxCol = Math.max(...HomeFeatureData.map(feature => parseInt(feature.col)))
const features = Array.from({ length: maxCol }, (_, i) => {
    const colNum = (i + 1).toString()
    return HomeFeatureData.filter((feature) => feature.col === colNum)
})

// Map image paths to imported images
---

<Section id="features">
    <Row>
        <Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
            <h2 class="text-pretty">
                {HomeFeaturetitle.title}
            </h2>
            <p class="pb-0 text-lg">
                {HomeFeaturetitle.subtitle}
            </p>
        </Col>
    </Row>
    <Row>
        {features.map((colFeatures) => (
            <Col span="4" classes={colFeatures.length > 1 ? "flex flex-col gap-6" : ""}>
                {colFeatures.map((feature) => (
                    <Card
                        title={feature.title}
                        subtitle={feature.subtitle}
                        image={feature.image}
                        link={feature.link}
                    />
                ))}
            </Col>
        ))}
    </Row>
</Section>

