---
// Basic Dark Call To Action section
// ------------
// Description: A centered call to action section with title, text, background image, notification and button.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import CTA from '../../ui/CTA.astro'
import Button from '../../ui/Button.astro'
import ChipNotification from '../../ui/ChipNotification.astro'
import { Image } from 'astro:assets'
import Highlight from '../../ui/Highlight.astro'

// Content
import CTAData from '../../../data/json-files/ctaData.json'
import badge from '../../../assets/badge.svg'
import ctaImage from '../../../assets/cta-dark-bg.webp'
---

<Section>
	<Row>
		<Col span="1" />
		<Col span="10">
			<CTA
				title={CTAData.title}
				text={CTAData.text}
				mode="dark"
				bg={ctaImage}
			>
				<ChipNotification radius="rounded-full" classes="mb-6 box">
					<Image 
						src={badge} 
						alt={CTAData.badge.alt} 
						class="h-12 w-12" 
						slot="button" 
					/>
					{CTAData.badge.text} <Highlight classes="ml-2">{CTAData.badge.highlight}</Highlight>
				</ChipNotification>
				<Button size="lg" style="primary">
					{CTAData.buttonText}
				</Button>
			</CTA>
		</Col>
		<Col span="1" />
	</Row>
</Section>
