---
import { Image } from 'astro:assets'
import type { DonationRecordEntry } from '../../../types/donationRecord';
import { formatNumber, formatDate, getImage } from '../../../utils/helpers';

interface Props {
  data: DonationRecordEntry[];
}

const { data } = Astro.props;
---
<div class="overflow-x-auto">
  <table class="w-full border-collapse">
    <thead>
      <tr class="bg-gray-700 text-white">
        <th class="px-6 py-4 text-left">支持者</th>
        <th class="px-6 py-4 text-right">金额</th>
        <th class="px-6 py-4 text-left hidden md:table-cell">留言</th>
        <th class="px-6 py-4 text-center hidden md:table-cell">平台</th>
        <th class="px-6 py-4 text-right hidden lg:table-cell">时间</th>
      </tr>
    </thead>
    <tbody>
      {data.map((entry) => (
        <tr class="border-b border-gray-700 hover:bg-gray-700/50 transition-colors group">
          <td class="px-6 py-4">
            <div class="flex items-center gap-3">
              <Image
                src={getImage(entry.avatar)}
                alt={entry.username}
                width={40}
                height={40}
                class="rounded-full"
              />
              <div class="font-semibold">{entry.username}</div>
            </div>
          </td>
          <td class="px-6 py-4 text-right font-mono">
            ¥{formatNumber(entry.amount)}
          </td>
          <td class="px-6 py-4 text-left hidden md:table-cell">
            {entry.message}
          </td>
          <td class="px-6 py-4 text-center hidden md:table-cell">
            {entry.platform}
          </td>
          <td class="px-6 py-4 text-right hidden lg:table-cell text-gray-400 group-hover:text-white">
            {formatDate(entry.date)}
          </td>
        </tr>
      ))}
    </tbody>
  </table>
</div>