---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import SidebarContent from '../components/blocks/basic/StickySidebar.astro'
import Hero from '../components/blocks/hero/PageHeader.astro'
import Testimonial from '../components/blocks/testimonials/BasicDark.astro'

// Content
import SEOData from '../data/json-files/seoData.json'
import AboutContent from '../data/json-files/aboutContent.json'

// Get SEO data

---

<Layout title={SEOData.terms.title} description={SEOData.terms.description}>
    <Hero 
        title={SEOData.terms.headertitle} 
        text={SEOData.terms.headertext} 
    />
    
    {AboutContent.sections.map((section, index) => (
        <SidebarContent classes={index % 2 === 1 ? "bg-neutral-50 dark:bg-neutral-900" : ""}>
            <div slot="sidebar">
                <h3>{section.sidebar.title}</h3>
                <p>{section.sidebar.text}</p>
            </div>
            <div class="basic-text">
                {section.content.map(item => (
                    <>
                        <h4>{item.title}</h4>
                        {item.text.map(paragraph => (
                            <p>{paragraph}</p>
                        ))}
                    </>
                ))}
            </div>
        </SidebarContent>
    ))}

<Testimonial
bg={AboutContent.testimonial.background}
bgPosition="left"
blockquote={AboutContent.testimonial.quote}
figcaption={AboutContent.testimonial.author}
cite={AboutContent.testimonial.role}
/>

</Layout>
